// This file is empty within the template
// You can use it to override CSS from within your project

.services{
	display: block;
	margin-left: auto;
	margin-right: auto
}

.lightsection{
	color: $text-color-light;
}

.lightlink{
	color: $secondary-color;

    &:hover {
      color: $text-color-light;
    }
}

.card {
	
	background: transparent;
}