{{ define "main" }}
{{ partial "page-header.html" . }}

{{ "<!-- about -->" | safeHTML }}

{{ with .Params.whoweare }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="mb-3 ">{{ .title | markdownify }}</h2>
        <p class="mb-4 ">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!--team -->
{{ with .Params.team }}
{{ if .enable }}
<section class="section pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="lightsection">{{ .title | markdownify }}</h2>
        <p class="lightsection">{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .teamMember }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="cardteam border-0 text-center">
          <img src="{{ .image | relURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4 class="lightsection">{{ .title | markdownify }}</h4>
            <p class="lightsection"> {{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--/team -->


{{ with .Params.intro }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="mb-3">{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
        <p class="mb-4">{{ .aside | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ with .Params.values }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-left">
        <h2 class="mb-3 lightsection">{{ .title | markdownify }}</h2>
        {{ range .value_item }}
        <div class="col-lg-10 mx-auto">
          <ul>
            <li><h4 class="mb-2">{{ .name | emojify }}</h4> 
              <h5 class="mb-3 lightsection"> {{ .subtitle | markdownify }} </h5>
              <p class="lightsection">{{ .content | markdownify }}</p></li>
            
            
          </ul>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ with .Params.approach }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="mb-3 ">{{ .title | markdownify }}</h2>
        <p class="mb-4 ">{{ .content | markdownify }}</p>
        {{ range .approach_item }}
        <div class="col-lg-10 mx-auto">
          <ul>
            <li ><h4 class="mb-2">{{ .name | emojify }}</h4> 
              <p>{{ .content | markdownify }}</p></li>
          </ul>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ with .Params.assessment }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="mb-3">{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <div><a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-primary">{{ i18n "getStarted" }}</a></div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}








{{ "<!-- /about -->" | safeHTML }}


<!-- call to action -->

<!-- /call to action -->

{{ end }}